#----------------------------------------------------------------------------------
# Exploration du fichier des prénoms (Insee)
#-----------------------------------------------------------------------------------

In [32]:
import pandas as pd
import numpy as np

# 1. Import les données dans un DataFrame en utilisant l'UnboundLocalError

url = "https://www.insee.fr/fr/statistiques/fichier/2540004/nat2021_csv.zip"
df_prenoms = pd.read_csv(url, sep=";")

In [2]:
df_prenoms.head()

   sexe        preusuel annais  nombre
0     1  _PRENOMS_RARES   1900    1249
1     1  _PRENOMS_RARES   1901    1342
2     1  _PRENOMS_RARES   1902    1330
3     1  _PRENOMS_RARES   1903    1286
4     1  _PRENOMS_RARES   1904    1430

In [3]:
df_prenoms.tail()

        sexe preusuel annais  nombre
686533     2    ZYNEB   2018       5
686534     2    ZYNEB   2019       7
686535     2    ZYNEB   2020       8
686536     2    ZYNEB   2021       6
686537     2    ZYNEB   XXXX      19

In [4]:
df_prenoms.sample()

        sexe preusuel annais  nombre
400552     2   DOUNYA   2014      17

In [5]:
df_prenoms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686538 entries, 0 to 686537
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   sexe      686538 non-null  int64
 1   preusuel  686536 non-null  object
 2   annais    686538 non-null  object
 3   nombre    686538 non-null  int64
dtypes: int64(2), object(2)
memory usage: 21.0+ MB

## Partie 2 : Nettoyage des données

In [6]:
# Val manquantes dans la col des prénoms

df_prenoms[df_prenoms["preusuel"].isnull()]

        sexe preusuel annais  nombre
579411     2      NaN   2003       3
579412     2      NaN   XXXX      29

In [ ]:
# Proportion des id avec _prenoms rare

prop_xxx = df_prenoms.groupby('preusuel')["nombre"].sum()["_PRENOMS_RARES"] / df_prenoms["nombre"].sum()
prop_xxx

KeyError: '_PRENOMS_RARES'

In [11]:
df_prenoms = df_prenoms.replace("_PRENOMS_RARES", np.nan)
df_prenoms

        sexe preusuel annais  nombre
0          1      NaN   1900    1249
1          1      NaN   1901    1342
2          1      NaN   1902    1330
3          1      NaN   1903    1286
4          1      NaN   1904    1430
...      ...      ...    ...     ...
686533     2    ZYNEB   2018       5
686534     2    ZYNEB   2019       7
686535     2    ZYNEB   2020       8
686536     2    ZYNEB   2021       6
686537     2    ZYNEB   XXXX      19

[686538 rows x 4 columns]

In [20]:
## Supprimer les nan

df_prenoms = df_prenoms.replace('XXXX', np.nan)


df_prenoms = df_prenoms.dropna()

df_prenoms

        sexe preusuel annais  nombre
122        1        A   1980       3
123        1        A   1998       3
125        1    AADAM   2009       4
126        1    AADAM   2014       3
127        1    AADAM   2015       3
...      ...      ...    ...     ...
686532     2    ZYNEB   2017       6
686533     2    ZYNEB   2018       5
686534     2    ZYNEB   2019       7
686535     2    ZYNEB   2020       8
686536     2    ZYNEB   2021       6

[648369 rows x 4 columns]

In [30]:
df_prenoms = df_prenoms.replace('XXXX', np.nan)
df_prenoms

122       1980
123       1998
125       2009
126       2014
127       2015
          ...
686532    2017
686533    2018
686534    2019
686535    2020
686536    2021
Name: annais, Length: 648369, dtype: int64

In [33]:
df_prenoms['annais'] = pd.to_numeric(df_prenoms['annais'])
df_prenoms['sexe'] = df_prenoms['sexe'].astype('category')

ValueError: Unable to parse string "XXXX" at position 124

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686538 entries, 0 to 686537
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   sexe      686538 non-null  int64
 1   preusuel  686536 non-null  object
 2   annais    686538 non-null  object
 3   nombre    686538 non-null  int64
dtypes: int64(2), object(2)
memory usage: 21.0+ MB